<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <div>
    <input [(ngModel)]="key" type="text" placeholder="Key" />
    <input [(ngModel)]="value" type="text" placeholder="Value" />
    <button type="button" (click)="push(key, value)">Push</button>
  </div>
  <div>
    <input [(ngModel)]="search" type="text" placeholder="Search key" />
    <button type="button" (click)="print(search)">Print</button>
  </div>
</div>
